/*  your css code here. If applicable */
.main{
	background-color:#f5f5f5;
	padding:15px;
}

div{
	padding:15px;
	background-color: #ffffff;
	border: 1px solid gray;
}
.author{
	text-align:right;
	font-style:italic;
}